<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meu Site Fotográfico</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    </head>
    <body style="background: linear-gradient(180deg, rgba(83,83,83,1) 0%, rgba(0,0,0,1) 100%);">
        <header>
            <a href="./index.html" class="logo">LOGO HERE</a>
            <nav>
                <a class="nav-item" href="./portifolio.html">PORTFÓLIO</a>
                <a class="nav-item" href="./sobre.html">SOBRE</a>
                <a class="nav-item-active">CONTATO</a>
            </nav>
        </header>

        <div class="container">
            <div class="search-box">
                <h1 style="color: white">Entre em contato</h1>
                <div class="search-bar">
                    <!-- Corrigir campo de input para textarea -->
                    <textarea id="userMessage" rows="10" cols="50" placeholder="Digite sua mensagem de e-mail aqui..." required></textarea>
                    <!-- Botão chama a função diretamente -->
                    <button type="button" onclick="enviarEmail()">ENVIAR</button>
                </div>
            </div>
            
            <div class="content">
                <div>
                    <i style="font-size: 50px;" class="fa-regular fa-envelope"></i>
                    <h3>E-mail</h3>
                </div>
                
                <div onclick="sendWhatsAppMessage()">
                    <i style="font-size: 50px;" class="fa-solid fa-phone"></i>
                    <h3>Telefone</h3>
                </div>
                
            </div>
        </div>
        
        <footer>
            <p>&copy; 2024 Klikdiaz - Todos os direitos reservados.</p>
        </footer>
        
        <!-- Certifique-se de que o arquivo script.js está sendo carregado corretamente -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/js/all.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
    </body>
</html>
