<!-- Subi a imagem de inspiração que o edu fez pra ir guiando ta em img -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site Fotográfico</title>
    <link rel="stylesheet" href="../css/style.css"> <!--df Mudar pra imagem de um fotografo-->
</head>
<body>
    <header>
        <div class="logo">LOGO HERE</div>
        <nav>
            <a href="./contato.html">CONTATO</a>
            <a href="./saibaMais.html">SAIBA MAIS</a>
            <a href="./portifolio.html">PORTFÓLIO</a>
        </nav>
    </header>

    <div class="container">
        <div class="highlight">
            <div class="description">
                <h1>Bem-vindo ao Meu Portfólio Fotográfico</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <div class="content">
            <div>
                <h2>Enviar E-mail</h2>
                <textarea id="emailMessage" rows="10" cols="50" placeholder="Digite sua mensagem de e-mail aqui..." required></textarea>
                <br />
                <button onclick="">Enviar Email</button>
            </div>
            
            <div>
                <h2>Enviar DM no Instagram</h2>
                <textarea id="instagramMessage" rows="10" cols="50" placeholder="Digite sua mensagem para o Instagram aqui..." required></textarea>
                <br />
                <button onclick="">Enviar DM no Instagram</button>
            </div>
        </div>
                    
        
    </div>
    <script type="text/javascript" src="../js/msg.js"></script>
    <footer>
        <p>&copy; 2024 Klikdiaz - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
