<!-- Subi a imagem de inspiração que o edu fez pra ir guiando ta em img -->

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
        <title>Meu Site Fotográfico</title>
        <link rel="stylesheet" href="../css/style.css"><!--df Mudar pra imagem de um fotografo-->
    </head>
    <body style="background-image: url('../assets/img/foto2.png')">
        <header>
            <div class="logo"><img src="../assets/img/logo_no_back.png"></img></div>
            <nav>
                <a class="nav-item" href="./portifolio.html">PORTFÓLIO</a>
                <a class="nav-item" href="./sobre.html">SOBRE</a>
                <a class="nav-item" href="./contato.html">CONTATO</a>
            </nav>
        </header>
        <div class="container">
            <div id="title-text">
                <h2>KLIK.CO</h2>
            </div>
        </div>
    </body>
</html>