<!-- É SÓ UM EXEMPLO PRECISO DE FOTOS REAIS  -->

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
        <title>Meu Site Fotográfico</title>
        <link rel="stylesheet" href="../css/style.css"> <!--df Mudar pra imagem de um fotografo-->
    </head>
    <body>
        <header>
            <a href="./index.html" class="logo"><img src="../assets/img/logo_no_back.png"></img></a>
            <nav>
                <a class="nav-item-active">PORTFÓLIO</a>
                <a class="nav-item" href="./sobre.html">SOBRE</a>
                <a class="nav-item" href="./contato.html">CONTATO</a>
            </nav>
        </header>

        <div id="portifolio-container">
            <div class="portifolio-item">
                <img width="500px" src="../assets/img/foto3.jpg" style="border: 10px solid #757575;border-radius: 20px;"></img>
                <div style="width:50%">
                    <h1>EDIT ARMANDIN</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="portifolio-item" style="padding-top:20px">
                <img height="500px" src="../assets/img/foto4.jpg" style="border: 10px solid #757575;border-radius: 20px;"></img>
                <div class="item-background" style="margin-bottom:80px">
                    <h1 style="padding-left:30px">EDIT MC CABELINHO</h1>
                    <p style="padding-left:30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="portifolio-item" style="margin-top:-50px; padding-bottom:50px;">
                <div class="item-background" style="margin-top: 80px;">
                    <h1 style="padding-left:30px">EDIT NAÇÃO ZUMBI</h1>
                    <p style="padding-left:30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <img height="500px" src="../assets/img/foto5.jpg" style="border: 10px solid #757575;border-radius: 20px;"></img>
            </div>
        </div>

        <footer>
            <p>&copy; 2024 KLIK.CO - Todos os direitos reservados.</p>
        </footer>
    </body>
</html>