<!-- É SÓ UM EXEMPLO PRECISO DE FOTOS REAIS  -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site Fotográfico</title>
    <link rel="stylesheet" href="../css/style.css"> <!--df Mudar pra imagem de um fotografo-->
</head>
<body>
    <header>
        <div class="logo">LOGO HERE</div>
        <nav>
            <a class="nav-item-active">PORTFÓLIO</a>
            <a class="nav-item" href="./sobre.html">SOBRE</a>
            <a class="nav-item" href="./contato.html">CONTATO</a>
        </nav>
    </header>

    <div class="container">
        <div class="highlight">
            <div class="description">
                <h1>Portfólio</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>

        <div class="mural">
            <div>
                <img src="../assets/img/foto1.png" alt="Imagem 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto2.png" alt="Imagem 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto1.png" alt="Imagem 3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto2.png" alt="Imagem 4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto2.png" alt="Imagem 5">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto2.png" alt="Imagem 6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto2.png" alt="Imagem 7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div>
                <img src="../assets/img/foto2.png" alt="Imagem 8">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        
    </div>

    <footer>
        <p>&copy; 2024 Klikdiaz - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
