<!-- Subi a imagem de inspiração que o edu fez pra ir guiando ta em img -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site Fotográfico</title>
    <link rel="stylesheet" href="../css/style.css"> <!--df Mudar pra imagem de um fotografo-->
</head>
<body>
    <header>
        <a href="./index.html" class="logo">LOGO HERE</a>
        <nav>
            <a class="nav-item" href="./portifolio.html">PORTIFÓLIO</a>
            <a class="nav-item-active">SOBRE</a>
            <a class="nav-item" href="./contato.html">CONTATO</a>
        </nav>
    </header>

    <div style="display:flex; justify-content: space-around;">
        <div class="highlight" style="align-items: baseline; width:50%">
            <div class="description">
                <h1 style="font-weight: bolder; font-size: 40px;">Sobre nós</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div style="width:500px; height:500px; background-color:black;margin-top:50px"></div>
    </div>

    <footer>
        <p>&copy; 2024 Klikdiaz - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
